In [1]:
import pandas as pd

# List of all file names (in your working directory)
files = [
    'independent_schools.csv',
    'elementary_school_areas.csv',
    'dc_schools_dataset.csv',
    'middle_school_attendance_areas.csv',
    'Middle_School_Districts.csv',
    'Elementary_School_Districts.csv',
    'High_School_Districts.csv'
]

# Read and store in a list, ensuring all expected columns exist in all DataFrames
expected_cols = [
    'school_name', 'address', 'school_type', 'city',
    'zip_code', 'grades_offered', 'website', 'phone'
]

dfs = []
for file in files:
    df = pd.read_csv(file)
    # Add missing columns, if any, with NaN values
    for col in expected_cols:
        if col not in df.columns:
            df[col] = pd.NA
    # Order columns for uniformity
    df = df[expected_cols]
    dfs.append(df)

# Concatenate all DataFrames together (ignore index to create new one)
merged = pd.concat(dfs, ignore_index=True)

# Optional: drop duplicates (e.g., identical schools in multiple files)
merged = merged.drop_duplicates()

# Save or preview result
merged.to_csv('Merged_dataset.csv', index=False)
display(merged.head())

,school_name,address,school_type,city,zip_code,grades_offered,website,phone
0,Lowell School,1640 KALMIA ROAD NW,"Independent, Elementary, Middle","Washington, D.C",20012.0,K-8,https://www.lowellschool.org,202-577-2000
1,Blessed Sacrament School,5841 CHEVY CHASE PARKWAY NW,"Private, Elementary, Middle","Washington, D.C",20015.0,K-8,https://www.bsstoday.org,202-966-6682
2,The Bridges Academy,6119 GEORGIA AVENUE NW,"Private, Elementary, Middle","Washington, D.C",20011.0,PreK-8,NaN,202-829-1901
3,Milton Gottesman Jewish Day School North Campus,6045 16TH STREET NW,"Private, Elementary, Middle","Washington, D.C",20011.0,2th-8th,https://www.miltongottesman.org/,202-291-5737
4,St. John's College High School,2607 MILITARY ROAD NW,"Private, High","Washington, D.C",20015.0,9th-12th,https://www.stjohnschs.org/,202-363-2316